IS_PROD=0
JWT_SECRET_KEY=jwtkey1234
JWT_ACCESS_DURATION_MINUTES=240
REFRESH_TOKEN_DURATION_DAYS=14
SMTP_URL=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
LOKI_HOST=
LOKI_USER=
LOKI_TOKEN=
RECAPTCHA_SITE_KEY=
RECAPTCHA_API_KEY=
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=prog_demos
PORT=8080
PGADMIN_DEFAULT_EMAIL=dev@dev.dev
PGADMIN_DEFAULT_PASSWORD=dev
RECAPTCHA_CHALLENGE_SCORE=0.5
CPP_FILE_NAME=solution.cpp
LOCAL_TEMP_TASKS_DIRECTORY=
TASK_RUNNER_TEMP_TASKS_DIRECTORY=/var/temp_tasks