<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[prog_demos] Dovrši registraciju</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #1b1b3a; margin: 0; padding: 50px;">
    <div
        style="background-color: #1b1b3a; padding: 20px; border-radius: 8px; background: linear-gradient(50deg, darken(#00d4ff, 40%), #1b1b3a); box-shadow: #00d4ff 0px 1px 20px, #00d4ff 0px 0px 0px 3px;">
        <div style="font-size: 24px; font-weight: bold; color: #ffcc7f;">Želim ti dobrodošlicu na Prog Demos stranicu!
        </div>
        <div style="font-size: 16px; color: #adedfa;">
            <p>Eto i tebe, <span style="color: #00d4ff;">{{.Username}}</span>!</p>
            <p>Hvala ti na registraciji! Nadam se da će ti stranica pomoći u učenju programiranja!</p>
            <p>Radi potvrde registracije, trebaš još samo aktivirati svoj račun.</p>
            <div style="margin-top: 2rem;">
                <p style="color: #ffcc7f;">Za aktivaciju računa i dovršetak registracije, pritisni na poveznicu ispod:
                </p>

            </div>
            <p>
                <a href="https://progdemos.com/activation?activationToken={{.ActivationToken.String}}"
                    style="box-shadow: #ffcc7f 0px 1px 20px, #ffcc7f 0px 0px 0px 3px; border-radius: 5px; padding: 7px; text-decoration: none; color: orange; background-color: black; height: fit-content;">Aktiviraj
                    račun</a>
            </p>
            <div style="margin-top: 3rem; font-size: 12px;">
                <p>Ako ne vidiš poveznicu, dovrši registraciju preko ove poveznice:</p>
                <a href="https://progdemos.com/activation?activationToken={{.ActivationToken.String}}"
                    style="color: #00d4ff;">https://progdemos.com/activation?activationToken={{.ActivationToken.String}}</a>
            </div>
        </div>
        <br>
        <small style="color: #ffcc7f">Obavijest o privatnosti koja se odnosi na korištenje stranice dostupna je na
            poveznici: <a href="https://progdemos.com/privacy"
                style="color: #ffcc7f;">https://progdemos.com/privacy</a>.
        </small>
        <div style="margin-top: 20px; font-size: 12px; color: #ff007f;">
            <p>prog_demos @ 2024</p>
        </div>
    </div>
</body>

</html>